Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.3
Adafruit-WS2801==1.0.1
cycler==0.10.0
decorator==4.4.0
imageio==2.5.0
imutils==0.5.2
keyboard==0.13.3
kiwisolver==1.1.0
matplotlib==3.0.3
networkx==2.3
numpy==1.16.4
picamera==1.13
Pillow
pygame==1.9.6
pyparsing==2.4.0
python-dateutil==2.8.0
PyWavelets==1.0.3
RPi.GPIO==0.6.5
scikit-image==0.15.0
scipy==1.10.0
six==1.12.0
spidev==3.4
