[Unit]
Description=Webcambilight
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/pi/webcambilight
ExecStart=/home/pi/.virtualenvs/py3cv4/bin/python -u webcambilight.py

[Install]
WantedBy=multi-user.target